Header {
    background-color: #d67c30;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
}

footer {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}

a {
    text-decoration: none;
    color: rgb(250, 250, 250);
    padding: 20px;
}